{% extends "network/layout.html" %}

{% block body %}


<h1 style="color: white;">All Posts</h1>
<div class="pagination">

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    </span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>
<div class="parent">
    {% for post in posts %}
    <div class="post">

        <div class="head">
            <div class="title">{{ post.title }}</div>

        {% if request.user == post.author %}
                <form action="{% url 'edit' post.id %}">
                {% csrf_token %}
                <button type="submit">edit</button>
                </form>
        {% endif %}



            <div class="author">
                <a href="{% url 'profile' post.author %}">
                    @{{ post.author }}
                </a>
            </div>
        </div>

        <div class="content">
            {{ post.content }}
        </div>

        <div class="footer">
                 <span id="likes-count-{{ post.id }}">
                ❤️ {{ post.likes.count }}
            </span>
        <div class="footer-left">



            {% if user.is_authenticated %}
                <button
                    class="like-btn"
                    data-post-id="{{ post.id }}"
                >
                    {% if request.user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            {% endif %}

        </div>

          

        </div>

        <div class="time">
            {{ post.timestamp|date:"M d, Y H:i" }}
        </div>

    </div>
    {% empty %}
    <div class="post">
        <h3>No posts yet.</h3>
    </div>
    {% endfor %}
</div>

<div class="pagination">

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    </span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>

{% endblock %}