{% extends "network/layout.html" %}

{% block body %}

<!-- form - create post -->

    {% if user.is_authenticated%}
    <div class="create-post-card">
    <h2>Create Post</h2>

    <form action="{% url 'newpost' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">Content</label>
            {{ form.content }}
        </div>

        <button type="submit">Create Post</button>
    </form>
    </div>
    {% endif %}


<!-- Posts - Displaying all the posts -->


<h1>All Posts</h1>

<div class="parent">
    {% for post in posts %}
    <div class="post">

        <div class="head">
            <div class="title">{{ post.title }}</div>

        {% if request.user == post.author %}
                <form action="{% url 'edit' post.id %}">
                {% csrf_token %}
                <button type="submit">edit</button>
                </form>
        {% endif %}



            <div class="author">
                <a href="{% url 'profile' post.author %}">
                    @{{ post.author }}
                </a>
            </div>
        </div>

        <div class="content">
            {{ post.content }}
        </div>

        <div class="footer">
            ❤️ {{ post.likes.count }}
            <div class="footer-left">
                {% if request.user.is_authenticated  %}
                <form action="{% url 'toggle_likes' post.id %}" method="POST">
                {% csrf_token %}

                {% if request.user in post.likes.all  %}
                <button type="submit">Unlike</button>
                {% else %}
                <button type="submit">Like</button>
                {% endif %}
                </form>
                {% endif %}
            </div>

          

        </div>

        <div class="time">
            {{ post.timestamp|date:"M d, Y H:i" }}
        </div>

    </div>
    {% empty %}
    <div class="post">
        <h3>No posts yet.</h3>
    </div>
    {% endfor %}
</div>
    












  

{% endblock %}