{% extends "network/layout.html" %}

{% block body %}



<h1>{{ name }}</h1>

<div class="profile-stats">

    <h3 id="followers-count">
        Followers: {{ name.followers.count }}
    </h3>

    <h3>
        Following: {{ name.following.count }}
    </h3>

    {% if request.user.is_authenticated and not is_owner %}
        <button
            id="follow-btn"
            data-username="{{ name.username }}"
        >
            {% if following %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
    {% endif %}

</div>





<h1>All Posts</h1>
<div class="pagination">

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    </span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>
<div class="parent">
    {% for post in posts %}
    <div class="post">

        <div class="head">
            <div class="title">{{ post.title }}</div>

            <div class="author">
            
                    @{{ post.author }}
           
            </div>
        </div>

        <div class="content">
            {{ post.content }}
        </div>

        <div class="footer">
                 <span id="likes-count-{{ post.id }}">
                ❤️ {{ post.likes.count }}
            </span>
        <div class="footer-left">



            {% if user.is_authenticated %}
                <button
                    class="like-btn"
                    data-post-id="{{ post.id }}"
                >
                    {% if request.user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            {% endif %}

        </div>

          

        </div>

        <div class="time">
            {{ post.timestamp|date:"M d, Y H:i" }}
        </div>

    </div>
    {% empty %}
    <div class="post">
        <h3>No posts yet.</h3>
    </div>
    {% endfor %}
</div>
<div class="pagination">

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
    </span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>


{% endblock %}